<span class="catalog" >Catalog</span>

<div class="main">
  <div class="filter">
      <div class="category">
          <mat-form-field class="categoryForm">
              <mat-label> Categories</mat-label>
              <mat-select class="selectCategory"  multiple >
                <mat-option   *ngFor = "let category of type" (click) = "filterBook(category)" [value] = "category">{{category}}</mat-option>
              </mat-select>
          </mat-form-field>
         
      </div>
      <div class="priceFilter">
        price
        <p>Min value: <input type="number" [(ngModel)]="minValue"></p>
        <p>Max value: <input type="number" [(ngModel)]="maxValue"></p>
        <input type="submit" value="Ok" (click)="priceFilter(minValue,maxValue)" >
        <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
       </div>
  </div>
  <div class="books">
    <mat-form-field class="search">
      <input type="text" matInput (keyup)="applyFilter($event.target.value)" placeholder="search by book title, by author" >
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field> <br>

    <form [formGroup] = "mainForm">
      <mat-form-field class="categoryForm">
        <mat-label> Categories</mat-label>
        <mat-select class="currency"  matNativeControl formControlName = "currency" >
          <mat-option   *ngFor = "let category of currencyList" (click) = "sort()" [value] = "category">{{category}}</mat-option>
        </mat-select>
    </mat-form-field>

    <span class="sortBy">
      <mat-form-field>
        <label> Sort by</label>
              <select class="sortPrice"matNativeControl required = "sortBy" >
                <option   *ngFor = "let sort of sortType" (click) = "priceFilter()" [value] = "sort">{{sort}}</option>
              </select>
      </mat-form-field>
    </span>
  </form>
      <mat-grid-list  cols = "3" raws = "2" rowHeight="1.7:1.3">
          <mat-grid-tile *ngFor="let book of items" >
              <div>
              <img class="image" src="assets\images\bookForUser.svg" alt="books"> <br>
              <span class="title">
                  {{book.title}}
              </span> <br>
              <span class="author" *ngFor = "let author of book.authors.items">
                  {{author.name}} <br>
            </span> <br>
            <span class="price">
              ${{book.price}}
            </span>
              </div>
            </mat-grid-tile>
      </mat-grid-list>
  </div> 
</div>
<mat-paginator class="move"
     [length] = "count"
     [pageSize] = "6"
     [pageIndex]="pageIndex"
     (page)="pageEvent = movePage($event)"
     showFirstLastButtons >
  </mat-paginator> 

   

