<span class="catalog" >Catalog</span>
<div class="user_img">
    <img src="assets/images/user.png" height="100" width="100" alt="user">
</div>
<div class="title">
    <h2>
        Password assistance
    </h2>
    <span>
        Enter the email adress assoccieted with your account
    </span>
</div>
<br>
<div class="form">
        E-mail
        <br>
        <input type="text" size="50" placeholder="E-mail">
</div>
<form action="">
        <p class="Button"><button class="SignUpButton"  [(ngModel)]="email"> Continue</button></p>
    </form>
