<span class="catalog" >Catalog</span>
<div class="user-img">
    <img src="assets/images/user.png" height="100" width="100" alt="user">
</div>
<div class="Create">
    <h2>Create account</h2>
</div>
<form class="form-group" (ngSubmit)="onSubmit()" [formGroup]="userForm">
    
    <div>
        <mat-form-field class="form" appearance="outline">
            <mat-label class="label">User Name</mat-label>
            <input matInput placeholder="Please Enter Your UserName" formControlName = "userName">
            <mat-error>
                Please enter your Login
            </mat-error>
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field class="form" appearance="outline">
            <mat-label class="label">First Name</mat-label>
            <input matInput placeholder="Please Enter Your First Name" formControlName = "firstName">
            <mat-error>
                Please enter your first name
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="form" appearance="outline">
            <mat-label class="label">Last Name</mat-label>
            <input matInput placeholder="Please Enter Your Last Name" formControlName = "lastName">
            <mat-error>
                Please enter your last name
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="form" appearance="outline">
            <mat-label class="label">Email</mat-label>
            <input matInput placeholder="Please Enter Your Email" formControlName = "email">
            <mat-error>
                Please enter valid email adress
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="form" appearance="outline">
            <mat-label class="label">Password</mat-label>
            <input matInput type="password" placeholder="Please Enter Your Password" formControlName = "password">
            <mat-error>
                Password must be at least 8 charachters
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="form" appearance="outline">
            <mat-label class="form">Confirm Password</mat-label>
            <input type="password" matInput placeholder="Please Confirm Password">
            <mat-error>
                Password should be the same
            </mat-error>
        </mat-form-field>
    </div>
</form>
<form >
    <p class="button"><button  type="submit" class="btn btn-success"  (click)="save()"> Sign Up your account</button></p>
</form>