<span class="catalog" >Catalog</span>
<div class="userImg">
    <img src="assets/images/user.png" height="100" width="100" alt="user">
</div>
<div class="Create">
    <h2>Create account</h2>
</div>
<form class="form-group" (ngSubmit)="onSubmit()" [formGroup]="userForm">
    
    <div>
        <mat-form-field class="form" appearance="outline">
            <mat-label class="label">User Name</mat-label>
            <input matInput placeholder="Please Enter Your UserName" formControlName = "userName">
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field class="form" appearance="outline">
            <mat-label class="label">First Name</mat-label>
            <input matInput placeholder="Please Enter Your First Name" formControlName = "firstName">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="form" appearance="outline">
            <mat-label class="label">Last Name</mat-label>
            <input matInput placeholder="Please Enter Your Last Name" formControlName = "lastName">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="form" appearance="outline">
            <mat-label class="label">Email</mat-label>
            <input matInput placeholder="Please Enter Your Email" formControlName = "email">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="form" appearance="outline">
            <mat-label class="label">Password</mat-label>
            <input matInput placeholder="Please Enter Your Password" formControlName = "password">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="form" appearance="outline">
            <mat-label class="form">Confirm Password</mat-label>
            <input matInput placeholder="Please Enter Your Last Name">
        </mat-form-field>
    </div>
</form>
<form >
    <p class="button"><button  type="submit" class="btn btn-success"  (click)="save()"> Sign Up your account</button></p>
</form>