.userImg{
    text-align: center;
}

.catalog{
    margin-left: 20px;
    margin-top: 40px;
}

.Create{
    margin-left: 40%;
}

.form-group{
    margin-left: 35%;
}

.button{
    text-align: center;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .alert{
      color: crimson;
  }

  button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
    background-color: rgb(136, 212, 136);
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }