<h2>User Managment</h2>

<mat-form-field class="search">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search User">
</mat-form-field>

<table mat-table [dataSource]="items" matSort (matSortChange) ="sortUser($event)"  class="mat-elevation-z8">

  <ng-container matColumnDef="name" >
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> <h2 class="title"> Name </h2> </th>
    
    <td mat-cell *matCellDef="let element">  {{element.lastName}} {{element.firstName}} </td>
  </ng-container>
  
  
  <ng-container matColumnDef="email" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <h2 class="title"> Email </h2> </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  
  <ng-container matColumnDef="status" class="StatusColumn">
    <th mat-header-cell *matHeaderCellDef> <h2 class="title">
      Status </h2>
    <mat-select  [formControl]="status" multiple>
      <mat-option *ngFor="let Status of statusList" (click) = "filterUser(Status)" >{{Status}}</mat-option>
    </mat-select >
        </th>
    <td mat-cell *matCellDef="let element"> {{element.status}}
      <mat-slide-toggle  [checked] = "element.lockoutEnabled" (click)="changeUserStatus(element.id)"></mat-slide-toggle>  
    </td>
  </ng-container>
  
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> <h2 class="title"></h2>  </th>
    <td mat-cell *matCellDef="let element">
      <div class="td__container">
        <img class = "img__button" src="assets/images/iconmonstr-pencil-8.svg" alt="edit" matTooltip="Edit Profile User" (click)= "edit(element)">
        <img class = "img__button" src="assets/images/rubbish.svg" alt="remove" matTooltip="Remove User" (click)= "remove(element)">
      </div>  
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length] = "count" [pageSizeOptions]="[ 10, 20]" [pageIndex]="pageIndex" (page)="pageEvent = pagination($event)" showFirstLastButtons></mat-paginator>