.header{
    background-color: gainsboro;
    vertical-align: top;
}

.logo{
    margin-left: 50px;
}
.title{
    font-size: 50px;
    font-family: serif;
}

.number {
    float: right;
    color: red;
}

.cart{
    float :right;

}

.matMenu {
    float: right;
}

.navigator {
    float: right;
}