    <a href="http://localhost:4200/user/users">
     <span class="forgot-password">users</span>
 </a>

 <a href="http://localhost:4200/author/authors">
    <span class="forgot-password"> authors</span>
</a>

<a href="http://localhost:4200/account/sign-in">
    <span class="forgot-password"> account</span>
</a>

<a href="http://localhost:4200/books/printing-editions">
    <span class="forgot-password"> books</span>
</a>

<div class="header">
    <p class="logo">
        <a  routerLink='/books/main' routerLinkActive='active'>
            <img src="assets/images/open-book.png"  height="100" width="170" alt='mainPage' > 
            <img class="cart" src="assets/images/iconmonstr-shopping-cart-3.svg" alt='purchcaseCart' style="float: right;">
            <span class="title">
                Book Publishing Company
            </span>
        </a>
        </p>
</div>
