.user_img{
    text-align: center;
}
.catalog{
    margin-left: 20px;
    margin-top: 40px;
}
.signIn{
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: 20px;
   margin-left: 40%;
}
.form{
    margin-left: 40%;
}

.pointer{
    margin-left: 40%;
}


.signInButton{
    cursor: pointer;
    box-shadow: 0px 15px 20px black(46, 229, 157, 0.4);
    background-color: rgb(136, 212, 136);
    border: black;
    color: white;
}

.newUser{
  text-align: center;
}

.signUpButton{
    text-align:center;
    cursor:pointer;
    height:20px;
    width:250px;
}

