.user-img{
    text-align: center;
    height:"100";
    width:"100";
}
.catalog{
    margin-left: 20px;
    margin-top: 40px;
}
.sign-in{
    text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
}

.sign-in-form {
    text-align: center;
}

.password-form {
    text-align: center;
}

::ng-deep .mat-form-field .mat-form-field-infix {
    width: 500px;
    height: 1px;
}

.label {
    color: green;
}

.sign-in-button {
    cursor: pointer;
    border: black;
    color: black;
    text-align: center;
    float: right;
    margin-right: 38%;
    vertical-align: top;
}

.checkbox {
   margin-left: 32%;
}

.button {
    margin-top:30px ;
}

.newUser{
  text-align: center;
  margin-top: 100px;
}

.sign-up-button{
    text-align:center;
    cursor:pointer;
    height:20px;
    width:250px;
}

button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }

  button:hover {
    background-color: #cfd8dc;
    background-color:green;
  }

  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }

  .forgot-password {
    float: right;
    margin-right: 37%;
  }
