<span class="catalog" >Catalog</span>
<div class="user_img">
    <img src="assets/images/user.png" height="100" width="100" alt="user">
</div>
<p class="signIn">Sign-In</p>
<div class="form">
           E-Mail <br>
    <input type="text" size="50" name="name" [formControl] = 'email'>
    <br>
   <p>
       Password 
       <a routerLink="/account/forgot-password" routerLinkActive="active">
        <span class="forgot-password">forgot your password?</span>
    </a>
    <br>
    <input type="password" size="50" name="name" [formControl] = 'password'>
</p>
</div>
<div class="pointer">
    <label >
        <input type="checkbox" name="remember">
        <span>Remember me</span>
            <form action="">
                <button class="signInButton" name="name" (click) = "signIn()">Sign In</button>
            </form>
    </label>
</div>
<div class="newUser">
New to book Publishing Company? <br>
<form>
    <button  class="signUpButton" type="button" onClick='location.href="http://localhost:4200/account/register"'>Sign Up</button>
</form>      
</div>


