<div class="title">
    <h2>
      Product Managment
      <img style="float: right;" class = "add" src="assets/images/add-button-inside-black-circle.svg" alt="NewProduct" title="Add Product" (click)= "create()">
    </h2>
  </div>
  <br>
  
  <mat-form-field class="search">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Product">
  </mat-form-field>
  <table mat-table [dataSource]="items" matSort (matSortChange)="sortAuthors($event)" class="mat-elevation-z8">
  
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > <h2 class="columnTitle"> Id </h2> </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> <h2 class="columnTitle"> Title </h2> </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> <h2 class="columnTitle"> Description </h2> </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> <h2 class="columnTitle"> Category </h2> </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>
   
    <ng-container matColumnDef="authors" >
      <th mat-header-cell *matHeaderCellDef> <h2 class="columnTitle"> Authors</h2> </th>
      <td mat-cell *matCellDef="let element">
        <ul class="columnList">
        <li *ngFor="let item of element.authors">{{item}}</li>
      </ul>  </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> <h2 class="columnTitle"> Price </h2> </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
  
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef  > Edit  </th>
      <td mat-cell *matCellDef="let element">
        <div class="td__container">
          <img  class = "img__button" src="assets/images/iconmonstr-pencil-8.svg" alt="edit" matTooltip="Edit This Author" (click)= "edit(element)">
          <img class = "img__button" src="assets/images/rubbish.svg" alt="remove" matTooltip="Remove This Author" (click)= "remove(element)">
        </div>  
      </td>
    </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length] = "count" [pageSize] = "10" [pageIndex]="pageIndex"   (page)="pageEvent = pagination($event)" showFirstLastButtons ></mat-paginator> 
  